<div *ngFor="let movie of movies" class="content-container">
<div class="clr-row">
        <div class="clr-col-lg-4 clr-col-12">
            <div class="card">
                <div class="card-header">
                    {{movie.title}}
                </div>
                <div class="card-block">
                    <div class="card-media-block wrap">
                        <img src="..." class="card-media-image">
                        <div class="card-media-description">
                            <span class="card-media-title">
                                Release date : {{movie.releaseDate}}
                            </span>
                            <span class="card-media-text">
                                Owner: Jane Doe
                            </span>
                        </div>
                    </div>
                    <div class="card-text">
                        test
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">Action</button>
                </div>
            </div>
        </div>
    </div>
</div>